{% include 'layout.html' %}
{% include 'layout.html' %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Event: {{ event.event_name }}</h5>
            <p class="card-text">{{ event.description }}</p>
            <h6 class="card-subtitle mb-2 text-muted">Dates:</h6>
            <ul class="list-group mb3 no-border">
                {% if event.event_dates %}
                    {% for e_date in event.event_dates %}
                        <li class="list-group mb-2">{{ e_date.event_date }}</li>
                        <li class="list-group mb-2">
                                <ul>
                                    {% for activity in e_date.activities %}
                                        <li class="list-group mb-2">{{ activity.activity_name }} {{ activity.activity_time }}</li>
                                        <li class="list-group mb-2">
                                            <ul>
                                                {% for participant in activity.participants %}
                                                    <li>{{ participant }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">No dates available</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>