{% include 'layout.html' %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Welcome to the Event App</h5>
            <p class="card-text">This is a simple web application to manage events</p>
            <p class="card-text">Add event name and optionally the events first date</p>
            <p class="card-text">Event names must be globally unique</p>
            <p class="card-text">Events can contain more than one date, you may add those later</p>
            <p class="card-text">You can access the event subsequently via url {{request.base_url}}{event name} </p>
            <form id="mainForm">
                <label for="event_name">Event Name</label><input type="text" class="form-control mb-2" id="event_name" name="event_name" placeholder="Event Name" required>
                <label for="description">Event Description</label><input type="text" class="form-control mb-2" id="description" name="description" placeholder="Event Description (optional)">
                <label for="event_date">Event Date</label><input type="date" class="form-control mb-2" id="event_date" name="event_date" placeholder="Event Date (optional)">
                <div class="container border rounded bg-light p-2 mb-2">
                    <label>View Only Options - Settings to be applied by default, these can be selectively overridden</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="event_view_only" name="event_view_only">
                        <label class="form-check-label" for="event_view_only">Event View Only</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="activity_view_only" name="activity_view_only">
                        <label class="form-check-label" for="activity_view_only">Activity View Only</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="participant_view_only" name="participant_view_only">
                        <label class="form-check-label" for="participant_view_only">Participant View Only</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary rounded-pill mt-2" id="hi">Create Event</button>
            </form>
        </div>
    </div>
</div>